*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    overflow: hidden;
    /* overflow-y: hidden; */
}

.box{
    position: relative;
    width: 100%;
    height: 100vh;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .box h1{
    width: 800px;
    position: absolute;
    left: 0%;
    z-index: 99;
    top: 0;
    color: #fff;
    font-family: gilroy;
    font-size: 7vw;
}
 #two h1{
     position: absolute;
    width: 800px;
    height: 50px;
    left: 86%;
    z-index: 99;
    top: 0;
    color: #fff;
    font-family: gilroy;
    font-size: 7vw;
}

 .content {
    position: absolute;
    z-index: 999;
    width: 60vw;
    height: 100vh;
    top: 0;
    /* background-color: aqua; */
    color: #fff;
}

.content p{
    width: 50vw;
    height: 25vw;
    font-family: angel;
    margin-top: 30%;
    margin-left: 10px;
    /* background-color: black; */
}
#two p{
    width: 50vw;
    height: 25vw;
    font-family: angel;
    margin-top: 30%;
    margin-left: 80%;
    /* background-color: black; */
}


.content button{
    width: 200px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
    font-family: gilroy;
    text-transform: capitalize;
    background-color: rgba(41, 179, 218, 0.283);
}
#two button{
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-left: 87%;
    border-radius: 10px;
    font-family: gilroy;
    text-transform: capitalize;
    background-color: rgba(41, 179, 218, 0.283);
}

@media(max-width: 355px){

    h1{
        font-size: 14vw;
}
#two h1{
    white-space: wrap;
    width: 80vw;
    position: absolute;
    left: 26vw;
    z-index: 99;
    top: 0;
    color: #fff;
    font-family: gilroy;
    font-size: 7vw;
}
#two p{
    width: 50vw;
    height: 25vw;
    font-family: angel;
    margin-top: 30%;
    margin-left: 70%;
    /* background-color: black; */
}
.content {
    position: absolute;
    z-index: 999;
    width: 60vw;
    height: 100vh;
    top: 0;
    /* background-color: aqua; */
    color: #fff;
}
.content button{
    width: 25vw;
    height: 10vw;
    margin-top: 140vw;
    margin-left: 220px;
    border-radius: 10px;
    font-family: gilroy;
    text-transform: capitalize;
    background-color: rgba(41, 179, 218, 0.283);
}
#two button{
    width: 25vw;
    height: 10vw;
    margin-top: 140vw;
    margin-left: 5vw;
    border-radius: 10px;
    font-family: gilroy;
    text-transform: capitalize;
    background-color: rgba(41, 179, 218, 0.283);
}
}